ul {
    border: solid #256688 2px;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: solid #256688 1px;
    text-align: left;
}

button {
    background-color: #256688;
}

button:hover {
    background-color: #1e4e5a;
}